<!DOCTYPE html>
<html>
  <head>
    <title>VueTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'navigation' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
